<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--dao层模块的接口名与对应的模块映射器namespace一致-->
<mapper namespace="mapper.EmployeeMapper">
    <resultMap id="baseResultMap" type="ecjtu.entity.Employee">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="address" property="address"/>
        <result column="department" property="department"/>
    </resultMap>
    <insert id="save" parameterType="ecjtu.entity.Employee">
        insert into employee(id,name,gender,age,birthday,address,department) VALUES (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},
        #{gender,jdbcType=VARCHAR},#{age,jdbcType=INTEGER},#{birthday,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR},#{department,jdbcType=VARCHAR})
    </insert>

    <select id="findByCondition" parameterType="java.util.Map"
            resultType="java.util.Map">
		SELECT * from employee where name like '%${name}%'
	</select>
    <select id="findByALL" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT * FROM  employee where name LIKE '%${name}%'
	</select>

    <delete id="delete" parameterType="ecjtu.entity.Employee">
        DELETE FROM employee WHERE id = #{id}
    </delete>

    <update id="update" parameterType="ecjtu.entity.Employee">
        UPDATE employee
        <!--<set>-->
            <!--<if test="name != null">name=#{name},</if>-->
            <!--<if test="gender != null">gender=#{gender,jdbcType=VARCHAR},</if>-->
            <!--<if test="age != null">age=#{age,jdbcType=INTERGER},</if>-->
            <!--<if test="birthday != null">birthday=#{birthday,jdbcType=VARCHAR},</if>-->
            <!--<if test="address != null">address=#{address,jdbcType=VARCHAR},</if>-->
            <!--<if test="department != department">department=#{department,jdbcType=VARCHAR}</if>-->
            set name=#{name},gender=#{gender},age=#{age},birthday=#{birthday},address=#{address},department=#{department} where id=#{id}
        <!--</set>-->
    </update>

 </mapper>