<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--dao层模块的接口名与对应的模块映射器namespace一致-->
<mapper namespace="mapper.Student1Mapper">
<insert id="save" parameterType="ecjtu.entity.Student1">
        insert into student1(name,age) values (#{name,jdbcType=VARCHAR},#{age,jdbcType=INTEGER})
    </insert>

</mapper>